# Name: MySEM_Plugin# Description:# Plugins for MySEM images# Author: Nicola Ferralis <feranick@hotmail.com># Version: 5.3# Date: 2021/12/02# Requires: ImageJ 1.45s# The information above may be used by a future plugin manager.# Generate the jar file using:#     jar cvfM MySEM_plugins.jar *Plugins>MySEM, "MySEM Updater", MySEM_UpdaterHelp>About Plugins, "MySEM Plugins...", MySEM_Updater("about")Help>About Plugins, "MySEM Plugins Website...", ij.plugin.BrowserLauncher("https://github.com/feranick/MySEM")